<!--<input #firstname name="firstname">-->
<!--<button (click)="addUser(firstname.value)">Add</button>-->
<!--{{firstname.value }}-->

<!--<form (ngSubmit)="submit(f)" #f="ngForm">-->
<!--  <input id="firstName" name="firstName" ngModel required/>-->
<!--  <br>-->
<!--  <input id="lastName" name="lastName" ngModel required/>-->
<!--  <br>-->
<!--  <button type="submit" [disabled]="f.invalid">Submit</button>-->
<!--</form>-->

<!--{{f.valid}}-->


<!--<input  name="firstName" [(ngModel)]="fistName"/>-->
<!--<input name="firstName" [ngModel]="fistName" (ngModelChange)="firstNameChanged($event)"/>-->
<!--{{fistName}}-->


<!--<input  #firstNameTml="ngModel" [ngModel]="firstNameTml"/>-->

<!--{{firstNameTml.value}}-->


<!--<form (ngSubmit)="submit(f)" #f="ngForm">-->
<!--  <input id="firstName" name="firstName" placeholder="firstName" ngModel required/>-->
<!--  <br>-->
<!--  <input id="lastName" name="lastName" placeholder="lastName" ngModel required [minlength]="3" [maxlength]="6"/>-->
<!--  <div *ngIf="f.controls['lastName'] && f.controls['lastName'].invalid && f.controls['lastName'].touched ">-->
<!--    lastName is required-->
<!--  </div>-->
<!--  <br>-->

<!--  <div *ngIf="userContact.invalid" > userContactInfo is Invalid </div>-->
<!--  <div ngModelGroup="userContactInfo" #userContact="ngModelGroup">-->
<!--    <input id="email" name="email" placeholder="email" ngModel required email/>-->
<!--    <br>-->
<!--    <input id="phone" name="phone" placeholder="phone" ngModel required/>-->
<!--  </div>-->
<!--  <br>-->
<!--  <button type="submit" [disabled]="f.invalid">Submit</button>-->
<!--</form>-->

<!--<button (click)="fillValues()">Fill Values</button>-->

<!--<form (ngSubmit)="submit()" #f="ngForm">-->
<!--  <input id="firstName" name="firstName" placeholder="firstName" ngModel required/>-->
<!--  <br>-->
<!--  <input id="lastName" name="lastName" placeholder="lastName" ngModel required [minlength]="3" [maxlength]="6"/>-->
<!--  <div *ngIf="f.controls['lastName'] && f.controls['lastName'].invalid && f.controls['lastName'].touched ">-->
<!--    lastName is required-->
<!--  </div>-->
<!--  <br>-->

<!--  <div *ngIf="userContact.invalid" > userContactInfo is Invalid </div>-->
<!--  <div ngModelGroup="userContactInfo" #userContact="ngModelGroup">-->
<!--    <input id="email" name="email" placeholder="email" ngModel required email/>-->
<!--    <br>-->
<!--    <input id="phone" name="phone" placeholder="phone" ngModel required/>-->
<!--  </div>-->
<!--  <br>-->
<!--  <button type="submit" [disabled]="f.invalid">Submit</button>-->
<!--</form>-->


<form >
  <input id="firstName" name="firstName" placeholder="firstName" [(ngModel)]="user.firstName" required/>
  <br>
  <input id="lastName" name="lastName" placeholder="lastName" [(ngModel)]="user.lastName" required [minlength]="3" [maxlength]="6"/>
  <br>
</form>
<pre>
  {{user | json}}
</pre>
